<ion-header [hidden]="scanActive">
  <ion-toolbar color="primary">
    <ion-title>
      Barcode Scanner
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content [style.--background]="scanActive? '#00000000' : '#fff'">
  <ion-button expand="full" (click)="startScanner()" [hidden]="scanActive">
    <ion-icon name="scan" slot="start"></ion-icon>
    Scan code
  </ion-button>
  <p class="ion-text-center" *ngIf="result">{{ result }}</p>
 
 
  <ion-row class="scanner-buttons" [hidden]="!scanActive">
    <ion-col class="ion-no-padding">
      <ion-button expand="full" (click)="stopScanner()">Stop</ion-button>
    </ion-col>
  </ion-row>
 
  <div class="scan-box" [hidden]="!scanActive"></div>

  <ul>
    <li *ngFor="let item of compounds">
      {{ item.name }}
    </li>
  </ul>

  <ion-list *ngIf="device">
    <ion-item>
      <ion-label>UUID</ion-label>
      <ion-note>{{ device.uuid }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>NAME</ion-label>
      <ion-note>{{ device.name }}</ion-note>
    </ion-item>
  </ion-list>

  <!-- <div *ngIf="data">{{ data.name }}</div> -->
</ion-content>